.u-section-1 {
  min-height: 758px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 406px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 340px;
  height: 340px;
  background-image: url("../44557280_2139610042718782_5411456431280881664_o.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 110px;
}

.u-section-1 .u-group-1 {
  width: 646px;
  min-height: 250px;
  margin: -286px auto 0 484px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Poppins;
  margin: 31px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 352px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 352px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  margin-right: auto;
  font-size: 1.25rem;
  line-height: 2;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 625px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -295px;
    margin-left: 334px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 290px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 669px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 291px;
  }

  .u-section-1 .u-image-1 {
    width: 250px;
    height: 250px;
  }

  .u-section-1 .u-group-1 {
    width: 539px;
    margin-top: -250px;
    margin-left: 221px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-1 .u-text-4 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 359px;
  }

  .u-section-1 .u-text-6 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 300px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 505px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 520px;
    margin-top: -55px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 75px;
  }

  .u-section-1 .u-group-1 {
    width: 320px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}