{% extends 'home.html' %}
{% block content %}
<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>About</title>
    <link rel="stylesheet" href="../static/about/css/nicepage.css" media="screen">
<link rel="stylesheet" href="../static/about/css/Page-1.css" media="screen">
    <script class="u-script" type="text/javascript" src="../static/about/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/about/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.0.9, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
  </head>
  <body data-home-page="Page-1.html" data-home-page-title="Page 1" class="u-body">
    <section class="u-clearfix u-section-1" id="carousel_5ba6">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-col">
            <div class="u-size-30">
              <div class="u-layout-col">
                <div class="u-align-center u-container-style u-custom-color-1 u-layout-cell u-size-60 u-layout-cell-1">
                  <div class="u-container-layout u-valign-bottom-sm u-valign-bottom-xs u-valign-top-lg u-container-layout-1">
                    <div alt="" class="u-image u-image-circle u-image-1" data-image-width="1597" data-image-height="1600"></div>
                    <div class="u-align-center u-container-style u-group u-shape-rectangle u-group-1">
                      <div class="u-container-layout u-container-layout-2">
                        <h3 class="u-custom-font u-text u-text-default u-text-1">Jason Garcia </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-size-21 u-layout-cell-2">
                  <div class="u-container-layout u-valign-top u-container-layout-3">
                    <h5 class="u-text u-text-default u-text-2">Contact me</h5>
                    <p class="u-custom-font u-heading-font u-text u-text-default u-text-3">7802 C. Matematicas C.P 31063 Chihuahua, Chih</p>
                    <p class="u-custom-font u-heading-font u-text u-text-default u-text-4">+52 614-232-2193<br>jasongarcia1396@gmail.com<br>
                    </p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-39 u-layout-cell-3">
                  <div class="u-container-layout u-valign-top u-container-layout-4">
                    <h5 class="u-text u-text-default u-text-5">About me</h5>
                    <p class="u-custom-font u-heading-font u-text u-text-default u-text-6">Software Developer in the city of Chihuahua, Chih. Currently studying 9th quarter the career of IT in the UTCH. Been working with Software Development for about 4 years and have develop projects on Java, C#, .Net, React, Node.js, etc.<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
{% endblock %}