{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Chihuahua Inventory</title>
    <link rel="icon" type="image/png" href="static/login/favicon.ico"/>
    <link rel="stylesheet" href="{% static 'sidebar.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
 font-size: 100%;
 font-family: Poppins-Medium;
}
</style>
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{% url 'parts' part_type_to_find='Processor' %}">Processors</a>
  <a href="{% url 'parts' part_type_to_find='Graphics Card' %}">Graphics Cards</a>
  <a href="{% url 'parts' part_type_to_find='Motherboard' %}">Motherboards</a>
  <a href="{% url 'parts' part_type_to_find='RAM' %}">RAM</a>
  <a href="{% url 'about' %}" style="position: absolute; bottom: 0px;">About</a>
  <a href="{% url 'upload-part' %}" style="position: absolute; bottom: 38px;">Add Part</a>
</div>
<nav class="navbar navbar-light bg-primary">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <a class="navbar-brand" href="{% url 'home' %}">Inventory</a>
  <a class="navbar-brand" href="{% url 'logout' %}">Logout</a>
</nav>
<br>
{% block content %}
  <div id="main">
    <h2 style="font-family: Poppins-Medium;">Welcome to Inventory</h2>
    <div class="row" style="padding-top: 10px;">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Processors</h5>
            <p class="card-text">Here you will see a list of all available processors in inventory.</p>
            <a href="{% url 'parts' part_type_to_find='Processor' %}" class="btn btn-primary">Go to Processors</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Graphics Cards</h5>
            <p class="card-text">Here you will see a list of all available graphics cards in inventory.</p>
            <a href="{% url 'parts' part_type_to_find='Graphics Card' %}" class="btn btn-primary">Go to Graphics Cards</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Motherboards</h5>
            <p class="card-text">Here you will see a list of all available motherboards in inventory.</p>
            <a href="{% url 'parts' part_type_to_find='Motherboard' %}" class="btn btn-primary">Go to Motherboards</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">RAM</h5>
            <p class="card-text">Here you will see a list of all available RAM sticks in inventory.</p>
            <a href="{% url 'parts' part_type_to_find='RAM' %}" class="btn btn-primary">Go to RAM</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% if alert_flag %}
    <script>alert("Some Message.")</script>  
{% endif %}

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.body.style.backgroundColor = "white";
}
</script>
   
</body>
</html> 
