{% extends 'home.html' %}
{% block content %}
    <center>
        <h2 style="font-family: Poppins-Medium;">{{part_type}}s</h2>
    </center>
    {% if parts %}
    <div class="row" style="padding: 30px;">
        {% for part in parts %}
        <div class="col-lg-3">
            <div class="card">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="card-img-top embed-responsive-item" src="../static{{part.picture.url}}" alt="Card image cap" style="object-fit: cover; width: 100%; height: 350px;">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ part.name }}</h5>
                    <p class="card-text">{{ part.description }}</p>
                    <p class="card-text">In Stock: {{ part.stock }}</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="card-text"><small class="text-muted">{{ part.company }}</small></p>
                        </div>
                        <div class="col-lg-6">
                            <a href="/part/{{part.id}}" class="btn btn-primary" style="position: absolute; right: 10px; bottom: 2px;">See Part</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-lg" style="text-align: center;">
                <p class="h3" >
                    No items matching search
                </p>
            </div>
        </div>
    </div>  
    {% endif %}
{% endblock %}