{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/login/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/login/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/login/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/login/css/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/login/css/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/login/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/login/css/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/login/css/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/login/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	{% block login %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST">
					<span class="login100-form-title p-b-26">
						Welcome
					</span>

					<div class="wrap-input100 validate-input" data-validate="Enter username">
						<input class="input100" type="text" name="username" id="id_username" placeholder="Username">
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password" id="id_password" placeholder="Password">
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            {% csrf_token %}
							<button class="login100-form-btn" type="submit">
								Login
							</button>
						</div>
					</div>

					<div class="text-center p-t-115">
						<span class="txt1">
							Don’t have an account?
						</span>

						<a class="txt2" href="{% url 'register' %}">
							Sign Up
						</a>
					</div>
				</form>
			</div>
		</div>
    </div>
    {% endblock %}
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="static/login/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/login/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/login/js/popper.js"></script>
	<script src="static/login/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/login/js/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/login/js/moment.min.js"></script>
	<script src="static/login/js/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/login/js/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="static/login/js/main.js"></script>

</body>
</html>