{% extends 'home.html' %}
{% block content %}
    <center>
        <h1 class="display-3">{{part.name}}</h1>
    </center>
    <div class="row">
        <div class="col-sm-6 text-center">
            <img class="img-fluid embed-responsive-item" src="../static{{part.picture.url}}" alt="Card image cap" style="object-fit: cover; width: 600px; ">
        </div>
        <div class="col-sm-6" style="padding-top: 10px;">
            <div class="column" >
                <div class="col-sm" style="padding-bottom: 50px;">
                    <div class="column">
                        <div class="col-sm">
                            <p class="h4">Company:</p>
                        </div>
                        <div class="col-sm">
                            <p class="h4">{{part.company}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm" style="padding-bottom: 50px;">
                    <div class="column">
                        <div class="col-sm">
                            <p class="h4">Part Type:</p>
                        </div>
                        <div class="col-sm">
                            <p class="h4">{{part.part_type}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm" style="padding-bottom: 50px;">
                    <div class="column">
                        <div class="col-sm">
                            <p class="h4">In Stock:</p>
                        </div>
                        <div class="col-sm">
                            <p class="h4">{{part.stock}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm" style="padding-bottom: 100px;">
                    <div class="column">
                        <div class="col-sm">
                            <p class="h4">Description:</p>
                        </div>
                        <div class="col-sm">
                            <p class="h4">{{part.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm" style="text-align: center;">
                            <a href="/update/{{part.id}}" class="btn btn-primary">Update</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}