{% extends 'home.html' %}
{% block content %}
    <center>
    <h1 class="display-3">Upload Part</h1>
    <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table class = 'w-50 table table-light' style="border-radius:10px;background-color:#037feb;">
            {% for field in upload_form %}
            <tr>
                <th>{{field.label}}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
    </form>
</center>
{% endblock %}